div{
    background-color : lavender;
    height : 350px;
    width : 200px;
    font-size : 100px;
    transition-property : all;
    transition-duration : 3s;
    transition-timing-function: ease-out;
    transition-delay: 2s;
    transform : rotate(45deg)

}

div:hover{
    background-color: lavenderblush;
    font-size : 200px;
}
div:active{
    background-color: red;
}
